*.log
*.pid
*.tmp
*.bak
*.swp
*.iws
*.iml
*.ipr
*.jar
*.war
*.class

lib/
out/
dist/
build/
target/

.mvn
.idea
.cache
.eclipse
.project
.settings
.loadpath
.classpath
.factorypath
.springBeans
.recommenders
.apt_generated

.DS_Store
